body, html {
    background-color: #72435C;
    margin: 0;
    padding-top: 0; /* No padding at the top */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px; /* Adds 100px padding on top */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* or set a specific height if needed */
    width: 100%; /* or set a specific width if needed */
}


#home {
	padding-top: 20px;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;  /* Add some space from the top content or adjust as needed */
}

.centered-image img {
    max-width: 200%; /* Makes the image take the full width of its container */
    height: auto;    /* Keeps the aspect ratio intact */
}

@media (max-width: 768px) {
    .centered-image img {
        max-width: 100%; /* Allows the image to be fully wide on smaller screens */
    }
}

@media (max-width: 480px) {
    .centered-image img {
        max-width: 100%; /* Ensures full width on very small devices */
    }
}
#mainImage {
    left: 0;
    z-index: 3; /* Highest, as it's the main image */
    transform: rotate(-30deg); /* Rotates the left image 30 degrees counterclockwise */
    margin-left: -5%; /* Spread out the left image a bit */
}

#underImage {
    left: -15%; /* Adjust based on your layout needs */
    z-index: 2;
    top: -60px; /* Move up the center image */
    
}

#sideImage {
    left: -30%; /* Adjust based on your layout needs */
    z-index: 1;
    transform: rotate(30deg); /* Rotates the right image 30 degrees clockwise */
}

.collage {
    margin-bottom: 20px; /* Spacing between the collage and the boxes */
}

.box-container .color-box {
    width: 100%;
    color: #ffffff;
    padding: 20px; /* Padding inside the boxes for content */
    background-color: #424651; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
    border-bottom: 1px solid #000000; /* Line between boxes */
    border-top: 1px solid #000000;
    display: flex;
    flex-direction: column; /* Organizes children vertically */
    align-items: flex-start; /* Aligns children to the left */
}

.box-container .color-box:hover {
    background-color: #72435C; /* Color changes on hover */
}
.box-container .color-box.active {
    background-color: #72435C; /* Color for active state same as hover */
}
.box-container .color-box:last-child {
    border-bottom: none; /* No border on the last box */
}

.box-container .color-box > .box-title {
    background-color: #D8CEE6;  /* Light background for the button */
    color: #000000;             /* Color of the text to match the theme */
    padding: 5px 5px;
    border-radius: 5px;        /* Rounded corners */
    display: inline-block;      /* Makes the title flow with the text */
    margin: 0 20px 10px 0;      /* Top, right, bottom, and left margins */
    cursor: pointer;            /* Cursor changes to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    padding-left: 20px;         /* Aligns the start of the title with the content */
    padding-right: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.box-container .color-box > .box-content {
    padding-left: 40px;
    margin-left: 100px;         /* Ensures content starts at the same point as the title */
    text-align: left;           /* Ensures content text is left-aligned */
}

body, html {
    margin: 0; /* Removes default margin */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
}




